.signInPageContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.signInFormContainer {  
    display: flex; 
    flex: 2;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    background-color: #FFFFFF;;

}
.signInForm {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
    font-size: 14px;

}

.signInFormTitle {
    font-style: normal;
    font-size: 36px;
    line-height: 49px;
    color: #344472;
}

.signInFormLabel{
    margin-top: 2em;
}

.signInFormInputText {
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    width: 366px;
    font-size: 14px;
    line-height: 24px;
    background: #F6F6F6;
    padding: 8px 12px;
    outline-style: none;
    
}
.signInFormInputText:hover {
    background: #D1D1D1;
}
.signInFormInputText:focus {
    background: #F6F6F6;
    box-shadow: 0px 0px 5px #D9D9D9;
}
.signInFormInputTextError {
    border: 1px solid #FF768E;
}

.signInFormSubmitButton {
    margin: 24px 0px;
    height: 40px;
    width: 366px;
    background: #E4163A;
    border-radius: 4px;
    color: white;
    border-style: none;
    padding: 8px 12px;
}
.signInFormSubmitButton:hover {
    background: #FF5761;
}
.signInFormSubmitButton:active {
    background: #C60E2E;
}
.signInFormSubmitButton[disabled] {
    background: #F6F6F6;
}

.alreadyMemberParagraph {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    color: #707070;
}

.imageContainer {
    width: 70%;
    background-color: #F5FBFF;
    display: flex;
    flex: 4;
    align-items: center;
    justify-content: center;
}