.signInPageContainer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.signInFormContainer {  
    display: flex; 
    flex: 2;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    background-color: #FFFFFF;;

}
.signInForm {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
    font-size: 14px;

}

.signInFormTitle {
    font-style: normal;
    font-size: 36px;
    line-height: 49px;
}

.signInFormLabel{
    margin-top: 2em;
}

.signInFormInputText {
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    height: 2rem;
    width: 18rem;
    font-size: 14px;
    line-height: 24px;
    background: #F6F6F6;
}
.signInFormInputText:hover {
    background: #D1D1D1;
}
.signInFormInputText:focus {
    background: #F6F6F6;
}
.signInFormInputTextError {
    border: 1px solid #FF768E;
}

.signInFormCheckbox {
    display: flex;
    margin-top: 1em;
}
.signInFormSubmitButton {
    margin-top: 1em;
    height: 2rem;
    width: 18rem;
    background: #E4163A;
    border-radius: 4px;
    color: white;
    border-style: none;
}
.signInFormSubmitButton:hover {
    background: #FF5761;
}
.signInFormSubmitButton:active {
    background: #C60E2E;
}
.signInFormSubmitButton[disabled] {
    background: #F6F6F6;
}

.alreadyMemberParagraph {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.imageContainer {
    width: 70%;
    background-color: #F5FBFF;
    display: flex;
    flex: 4;
    align-items: center;
    justify-content: center;
}