.hamburgerMenuContainer {
    display: flex;
    flex-direction: column;
    background-color:#FFFFFF;
    box-shadow: 0px 1px 10px 0px #D1D1D180;
    width: 10vw;
    height: 100%;
    flex: 1;

}
.topMenuButtons {
    display: flex;
    flex-direction: column;
    background-color: green;
    align-items: center;
    margin-right: 2vw;
    margin-left: 2vw;
    
}
.topMenuButtonTeams {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topMenuButtonPlayers {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topMenuButtonIcon {
    color: #9C9C9C
}
.topMenuButtonIconActive {
    color: #E4163A
}

.signOutButton {
    display: flex;
    flex-direction: column;
    background-color: green;
    align-items: center;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-bottom: 2vh;
    margin-top: 100%;
    
}