.hamburgerMenuContainer {
    display: flex;
    flex-direction: column;
    background-color:#FFFFFF;
    box-shadow: 0px 1px 10px 0px #D1D1D180;
    width: 25vh;
    flex: 1;
}
.topMenuButtons {
    display: flex;
    flex-direction: column;
    background-color: red;
    align-items: center;
    margin-right: 2vh;
    margin-left: 2vh;
    
}
.signOutButton {
    display: flex;
    flex-direction: column;
    background-color: red;
    align-items: center;
    margin-right: 2vh;
    margin-left: 2vh;
    margin-top: 80vh;
    margin-bottom: 2vh;
}